@{
    ViewData["Title"] = "Home Page";
}

<section class="header-main">
    <div class="header-card">
        <h2>Find your ideal TV</h2>
        <img src="https://p1.akcdn.net/full/723157275.xiaomi-mi-tv-4s-55.jpg" />
        <p><a href="#">See more</a></p>
    </div>

    <div class="header-card">
        <h2>Electronics</h2>
        <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2021-05/17/full/1621192354-9509.jpg" />
        <p><a href="#">See more</a></p>
    </div>

    <div class="header-card">
        <h2>Holiday Gifts</h2>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/last-minute-holiday-gifts-1632954227.jpg?crop=1.00xw:0.751xh;0,0.249xh&resize=1200:*"
             alt="">
        <p><a href="#">See more</a></p>
    </div>
</section>
