@using AmazonSystem.Web.ViewModels
@model List<CartItemModel>
@{
    ViewData["Title"] = "Basket";
}

<link rel="stylesheet" href="~/css/basket.css" />

<div class="card">
    <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
            <tr>
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" width="200" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        <figure class="media">
                            <div class="img-wrap">
                                <img src="@product.ImageUrl" class="img-thumbnail img-sm">
                            </div>
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">@product.ProductName</h6>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </td>
                    <td>
                        <div class="price-wrap">
                            <i class="fas fa-star"></i>
                            @product.ProductPrice
                        </div>
                    </td>
                    <td class="text-right">
                        <a href="#" class="btn btn-outline-danger"> × Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Cart" asp-action="Checkout" class="btn btn-primary text-dark">Checkout</a>
</div> 